.section {
    background-color: white;
}

.section__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #a39898;
    padding: 10px;
}

.section__form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    margin: 10px;
    padding-bottom: 20px;
}

@media (max-width:768px) {
    .section__form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.section__button {
    color: white;
    background-color: teal;
    border: none;
    padding: 10px;
    border-radius: 3px;
}
.section__button:hover {
    cursor: pointer;
    background-color: #006666;
}

.section__button:active {
    background-color: #004d4d;
}


 
