html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: silver;
    font-family: 'Montserrat', sans-serif;;
    word-break: break-word;
}

.header {
  text-align: left;
  margin-left: 100px;
}
