.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: silver;
}

.container {
    background-color: white;
    flex-basis: 100px;
    margin: 20px;
    padding: 40px;
}